RewriteEngine On

#Fix Rewrite
Options -Multiviews

# Mod Rewrite
Options +FollowSymLinks
RewriteBase /

# dipakai untuk hilangin ekstensi halaman php termasuk "contoh.com/masuk.php" menjadi "contoh.com/masuk"
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Return 404 if original request is .php
# RewriteCond %{THE_REQUEST} "^[^ ]* .*?\.php[? ].*$"
# RewriteRule .* - [L,R=404]

# Disable directory browsing 
Options -Indexes
DirectoryIndex index.php /index.php

# RewriteRule ^(.+)$ account/index.php?u=$1 [L,QSA]

<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files index.php>
    Order Allow,Deny
    Allow from all
</Files>

<FilesMatch search.php|viewBook.php|pinjam.php|login.php|index.php|logout.php|daftar.php|registerscript.php|tambahbuku.php|addbook.php>
    Order Allow,Deny
    Allow from all
</FilesMatch>